# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Dependencies
/node_modules

# IDEs and editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.project
.classpath
*.launch
.settings/

# Misc
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

.DS_Store
Thumbs.db
.env
